<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Visualizer</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Stock Visualizer</h1>
    <input type="text" id="stockSymbol" placeholder="Enter Stock Symbol">
<!--    <button onclick="fetchPrice()">Fetch Price</button>-->
    <!-- Update your button to simply call the JavaScript function -->
    <button type="button" onclick="fetchStockPrice()">Fetch Price</button>

    <div id="stockPrice"></div>

    <script src="/static/script.js"></script>
</body>
</html>
